In [9]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School", "Griffin High School", "Wilson High School", "Cabera High School"]

In [10]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School
Griffin High School
Wilson High School
Cabera High School

In [11]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"},
                    {"High School": "Griffin", "Type": "Charter"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Cabera", "Type": "Charter"}]

In [12]:
# List of high schools
high_schools = ["Griffin High School", "Figueroa High School", "Wilson High School", "Wright High School", "Griffin High School", "Wilson High School", "Cabera High School"]

In [13]:
# Add the Pandas dependency.
import pandas as pd

In [14]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0     Griffin High School
1    Figueroa High School
2      Wilson High School
3      Wright High School
4     Griffin High School
5      Wilson High School
6      Cabera High School
dtype: object

In [15]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Griffin High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Wright High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"SChool ID": 5, "school_name": "Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name": "Cabera High School", "type": "Charter"}]

In [16]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID             school_name      type  SChool ID
0        0.0  Griffin High    School  District        NaN
1        1.0    Figueroa High School  District        NaN
2        2.0      Wilson High School   Charter        NaN
3        3.0      Wright High School  District        NaN
4        4.0     Griffin High School   Charter        NaN
5        NaN      Wilson High School   Charter        5.0
6        6.0      Cabera High School   Charter        NaN